#root {
  width: 100%;
  box-sizing: border-box !important;
  background-color: rgb(255, 255, 255);
}

nav {
  display: flex;
  position: fixed;
  transition: background-color 0.6s ease;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  align-items: center;
  justify-content: space-evenly;
  z-index: 999;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu li {
  font-size: 16px;
  list-style: none;
  font-weight: 500;
}

.menu button {
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: 1px white solid;
}

.logo {
  width: 100%;
  margin-left: 34px;
}

* {
  box-sizing: border-box;
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 90% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@media (max-width: 1000px) {
  .preciosplanes1 {
    display: none !important;
  }

  .preciosplanes {
    display: block !important;
  }

  .preciosplanes2 {
    height: 100%;
    margin-right: 0 !important;
  }

  .porque_grid {
    display: inline !important;
  }

  .porque_flex {
    display: inline !important;
  }

  .porque_text {
    width: 100% !important;
  }

  .porque_text p {
    width: 100% !important;
    font-size: smaller;
    font-weight: 400;
  }

  .porque_text button {
    width: 100% !important;
  }

  .serviciosDos {
    margin-bottom: 80px;
  }
}

.serviciosDosText p {
  font-family: "Kanit", sans-serif;
}

@media (max-width: 1000px) {
  nav {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .serviciosDosText p {
    margin: 20px 4px !important;
  }

  .serviciosDosText {
    width: 100% !important;
  }

  .serviciosDosText button {
    width: 100%;
  }

  .titulo p {
    margin-left: 20px !important;
    font-weight: 400;
    font-size: smaller;
  }

  .serviciosDosHead {
    display: block !important;
    margin: 0 40px !important;
  }

  .serviciosDosImagen {
    width: 120% !important;
  }

  .servidiosDosImagenCont {
    margin: 80px 40px !important;
  }

  .containerr {
    width: 100vw !important;
  }

  .container_main {
    overflow-x: visible !important;
  }

  .containerr h1 {
    margin-left: 20px !important;
  }

  .img_landing {
    width: 100vw !important;
  }

  .img_landing img {
    width: 260px;
    scale: 2.3;
    top: 600px !important;
    left: -60px !important;
  }

  .porque_title {
    margin: 40px 20px !important;
  }

  .table_cont {
    margin: 40px 10px !important;
  }

  .porque_ex {
    margin: 0 20px;
  }

  .porque_flex {
    margin: 20px 20px !important;
  }

  .porque_card {
    margin: 40px 4px !important;
    padding: 8px 0px;
  }

  .preguntas_title {
    margin: 100px 20px 20px 20px !important;
  }

  .preguntas_group {
    margin: 0px 20px;
  }

  .preguntas_main {
    padding: 100px 0;
    height: max-content !important;
  }

  .form {
    width: 100% !important;
    margin: 0px 0px !important;
    border-radius: 0 !important;
    height: 100% !important;
    padding: 50% 20px !important;
  }

  .form_butons {
    width: 100% !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .formcontacto {
    display: none;
  }

  .preguntas_group {
    display: inline !important;
    width: 98%;
    margin: 0 20px !important;
  }

  .preguntas_botones button {
    width: 100% !important;
    color: rgb(27, 27, 27);
    font-size: smaller;
    font-weight: 400;
  }

  .preguntas_botones {
    margin-bottom: 40px;
  }

  .banner_main {
    top: 0 !important;
    height: 160px !important;
    display: block !important;
  }

  .idea {
    margin: 0 20px !important;
  
  }

  .preciosplanes2 {
    flex-direction: column;
  }

  .preciosplanes {
    height: 100% !important;
    padding: 20px 0;
  }

  .card1 {
    margin: 20px 0;
  }

  .btn-grid {
    top: 10px !important;
    right: 10px !important;
  }
}

.container_main {
  width: 100%;

  overflow-x: hidden !important;
  overflow-y: hidden !important;
  background: linear-gradient(
    45deg,
    rgba(252, 36, 36, 0.938),
    rgba(9, 9, 240, 0.993),
    rgba(25, 160, 25, 0.973)
  );

  background-size: 200%;
  animation: cambiar 20s ease-in infinite;
  position: relative;
  z-index: 3  ;
}

.containerr {
  height: 100vh;
  width: 100%;
  display: flex;

  align-items: center;
  overflow: hidden !important;
}

.containerr img {
  position: absolute;

  top: -10px;
  left: 0;
  object-fit: contain;
  z-index: 0;
}

.cere {
  
  top: 120px !important;
  left: 0px !important;
}

.containerr h1 {
  font-size: 3.875rem;
  font-family: "Manrope", sans-serif;
  margin-left: 100px;
  width: 60vw;
  text-overflow: clip;
  z-index: 2;
}

.maquina {
  position: relative;
font-weight: 100 !important;
  font-size: 1rem;
  margin-left: 100px;
  margin-top: 0;
}

.titulo {
  z-index: 2;
  color: white;
}

.titulo h1{
  margin-bottom: 16px;
}

/* PRECIOS------------------------------------------- */

.preciosn {
  position: relative;
  z-index: 999;
  background-image: url("../public/preciosimg.png");
  background-size: cover;
}

.preciosplanes {
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}

.preciosplanes1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  height: 100vh;
  margin-left: 100px;
  font-weight: 400;
}

.preciosplanesimg {
  width: 100%;
}

.preciosplanes2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.card1 {
  height: 400px;
  background-color: #4041450a;
  width: 240px;
  border-radius: 1rem;
}

.card2 {
  height: 440px;

  background-color: #55407f9a;
  width: 240px;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
}

.card2 p {
  margin-top: 0 !important;
  line-height: 1.4;
  font-size: 0.8rem;
  font-weight: 400;
}

.card1 p {
  margin-top: 0 !important;
  line-height: 1.4;
  font-size: 0.8rem;
  font-weight: 400;
}

.preciosplanestext1 p {
  margin: 0;
  font-size: 30px;
  color: #ef43cf;
  font-family: "Kanit", sans-serif;
}

.preciosplanestext p {
  margin: 0;
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 300 !important;
  font-size: small !important;
}

.preciosplanestext {
  display: flex;
  flex-direction: column;
  align-items: start;
  
}

.card_head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin-top: 40px;
}

.card1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgba(245, 245, 245, 0.062);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.card2 {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.card1 button {
  border-radius: 2rem;
  color: wheat;
  background-color: #3848f1;
}

.btn-card1 {
  align-self: flex-end;
}

.card2 button {
  background-color: #ef43cf;
  color: wheat;
  border-radius: 2rem;
}

.fueguito {
  position: absolute;
  bottom: -20px;
  right: -60px;
  max-width: 130px;
}

.btn-grid {
  border-radius: 2rem;
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: rgba(255, 255, 255, 0.151);
}

.table_cont {
  border: 1px solid rgba(245, 245, 245, 0.034);
  background-color: #301c6a67;

  height: 80vh;
  margin: 0 40px;
  border-radius: 2rem;
  color: wheat;
  display: flex;
  justify-content: center;
}

table {
  width: 90%;
}

th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.349) !important;
}

.tr_ultimo th {
  border-bottom: 1px solid rgba(245, 222, 179, 0) !important;
}

/* SERVICIOS DOS-------------------------------------------------- */

.serviciosDos {
 

  
  font-family: "Kanit", sans-serif;
  position: relative !important;
  z-index: 9 !important;
  
}

.tit_apologia {
  margin-left: 100px;
  margin-bottom: 0;
  width: 30%;
  color: #242323;
  font-size: 48px;
  font-family: Kanit;
  font-weight: 500;
  line-height: 67.2px;
}

.serviciosDosHead {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 70vh;
  align-items: center;
  margin: 0 100px;
}

.servidiosDosImagenCont {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.servidiosDosImagenCont2 {
  display: flex;
  justify-content: center;
}

.serviciosDosImagen2 {
  width: 300px;
  
  margin-bottom: 0;
}

.serviciosDosImagen3 {
  width: 300px;
  margin-bottom: 40px;
}

.serviciosDosImagen {
  width: 600px;

  object-fit: cover;
  position: absolute;
  top: 120px;
  right: 50px;
}

@keyframes flotar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

#pc {
  animation: flotar 2s ease-in-out infinite;
}

.serviciosDosText {
  text-align: start;

  color: rgb(41, 41, 41);
}

.serviciosDosAbajo {
  display: flex;
  color: black;
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;

  justify-content: space-between;
  font-weight: 700;
}

.tarjeta1 {
  border-radius: 19px;

  flex-shrink: 0;
  display: flex;
  background: linear-gradient(
    45grad,
    rgba(244, 47, 54, 21%),
    rgba(15, 44, 194, 16%),
    rgba(29, 151, 46, 11%)
  );
  box-shadow: 4px 9px 10px -8px rgba(43, 0, 0, 0.5);
}

.p2 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;

  line-height: 28px;
  font-family: "Manrope" !important;
  margin: 40px 15px 40px 30px;
  box-sizing: border-box;
}

/* PORQUE.------------------------ */

.porque_main {
  background-size: cover;
  background-size: 170%;
  background-repeat: no-repeat;
  background-position-x: -200px;
  background-position-y: -420px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(20, 20, 20);
  position: relative;
  z-index: 5;
  margin-bottom: 40px;
}

.porque_title {
  font-family: "Kanit", sans-serif;
  margin-left: 100px;
  color: rgb(41, 41, 41);
  margin-bottom: 8px;
}

.porque_ex {
  margin-left: 100px;
  margin-top: 0;
}

.porque_flex {
  display: flex;

  margin: 0 100px;
}

.porque_text {
  grid-column: 3;
  grid-row: 1 / span 2;
  background: linear-gradient(
    45grad,
    rgba(244, 47, 54, 21%),
    rgba(15, 44, 194, 16%),
    rgba(29, 151, 46, 11%)
  );
  box-shadow: 4px 9px 10px -8px rgba(43, 0, 0, 0.5);

  border-radius: 19px;
  overflow: hidden;
}

.porque_text2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.porque_text2 p {
  margin: 0;
}

.porque_text p {
}

.porque_text button {
  color: white;

  border-radius: 8pxpx;
  height: 60px;
  background: linear-gradient(
    45deg,
    rgba(252, 36, 36, 0.938),
    rgba(9, 9, 240, 0.993),
    rgba(25, 160, 25, 0.973)
  );
  filter: brightness(1.2);
  filter: opacity(80%);
  background-size: 200%;
  animation: cambiar 20s ease-in infinite;
}

.porque_grid {
  width: 100%;
  gap: 50px 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.porque_card {
  background: linear-gradient(
    45grad,
    rgba(244, 47, 54, 21%),
    rgba(15, 44, 194, 16%),
    rgba(29, 151, 46, 11%)
  );
  box-shadow: 4px 9px 10px -8px rgba(43, 0, 0, 0.5);
  border-radius: 19px;
  position: relative;
}

.porque_card h4 {
  text-align: center;
  margin: 20px 0 0 0;
  font-weight: 700 !important;
}

.porque_card p {
  margin: 0;
  padding: 8px 40px 16px 40px;
  font-size: 0.8rem;
  font-weight: 400 !important;
  text-align: center;
}

.porque_card img {
  position: absolute;
  bottom: -16px;
  left: -60px;
  max-width: 130px;
}

/* RESPONSIVE BACK--------------------------------- */
.responsive_back {
  height: 80vh;
  background: linear-gradient(
    45deg,
    rgba(252, 36, 36, 0.938),
    rgba(9, 9, 240, 0.993),
    rgba(25, 160, 25, 0.973)
  );

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* METODOLOGIA------------------------------------- */
.metodologia_cont {
  min-height: 80vh;
}

.metodologia_cont h2{
  font-family: "kanit";
}
.metocard_cont {
  margin: 0 100px;
  display: flex;

  justify-content: space-between;
}
.metocard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 233px;
  border-radius: 19px;
  width: 200px;
  background: linear-gradient(
    45deg,
    rgba(252, 36, 36, 0.938),
    rgba(9, 9, 240, 0.993),
    rgba(25, 160, 25, 0.973)
  );
  background-size: 300%;
}
.metocard2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 233px;
  border-radius: 19px;
  width: 200px;
  background: linear-gradient(
    45deg,
    rgba(252, 36, 36, 0.938),
    rgba(9, 9, 240, 0.993),
    rgba(25, 160, 25, 0.973)
  );
  background-size: 300%;
  background-position: 500px 0;
}
.metocard3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 233px;
  border-radius: 19px;
  width: 200px;
  background: linear-gradient(
    45deg,
    rgba(252, 36, 36, 0.938),
    rgba(9, 9, 240, 0.993),
    rgba(25, 160, 25, 0.973)
  );
  background-size: 300%;
  background-position: 400px 0;
}

.metocard4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 233px;
  border-radius: 19px;
  width: 200px;
  background: linear-gradient(
    45deg,
    rgba(252, 36, 36, 0.938),
    rgba(9, 9, 240, 0.993),
    rgba(25, 160, 25, 0.973)
  );
  background-size: 300%;
  background-position: 230px 0;
}
.metocard5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 233px;
  border-radius: 19px;
  width: 200px;
  background: linear-gradient(
    45deg,
    rgba(252, 36, 36, 0.938),
    rgba(9, 9, 240, 0.993),
    rgba(25, 160, 25, 0.973)
  );
  background-size: 400%;
  background-position: 200px 0;
}
.actualizaciones_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 120px 0;
}
.actualizaciones {
  width: 780px;
  height: 180px;
  background: linear-gradient(
    45deg,
    rgba(252, 36, 36, 0.938),
    rgba(9, 9, 240, 0.993),
    rgba(25, 160, 25, 0.973)
  );
  border-radius: 19px;
}

.actualizaciones h3{
  text-align: center;
}
/* PREGUNTAS---------------------------------------- */

.preguntas_main {

 
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.preguntas_main h2 {
  text-align: start;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}

.preguntas_botones {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.preguntas_botones button {
  color: #242323;
  text-align: start;
  width: 110%;
  background-color: rgba(245, 245, 245, 0.548);
  border: 1px solid rgba(0, 0, 0, 0.164);
  font-weight: 400;
  font-family: "Manrope", sans-serif;
}

.preguntas_group img {
  width: 50%;
  margin-left: 100px;
  object-fit: cover;
  animation: flotar 2s ease-in-out infinite;
}

.preguntas_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 100px;
}
.preguntas_title{

  margin-top: 0;
}
/* BANNER--------------------------------------------------- */

.banner_main {
  color: whitesmoke;
  height: 80px;
  width: 100vw;
  text-align: center;
  background: linear-gradient(
    45deg,
    rgba(252, 36, 36, 0.938),
    rgba(9, 9, 240, 0.993),
    rgba(25, 160, 25, 0.973)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: 200%;
  animation: cambiar 20s ease-in infinite;
  margin: 100px 0;
}

.idea{
  font-size: 1rem;
  font-weight: 300;
}
/* Futer ---------------------------------------- */

.futer_main {
  background-image: url("../public/preciosimg.png");
background-size: fill;
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 999;
}

.form {

background: linear-gradient(232deg, rgba(172, 170, 170, 0.11) 69.36%, rgba(172, 170, 170, 0.30) 79.87%, rgba(172, 170, 170, 0.00) 97.52%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(108px);

  padding: 60px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px 80px;
  position: relative;
}

.formcontacto {
  position: absolute;
  top: -120px;
  left: -120px;
  opacity: 100%;
  max-width: 500px;
}

.form_arriba_label {
  display: flex;
  position: absolute;
  top: -16px;
  width: 100%;
  justify-content: space-around;
  z-index: 999;
}

.form_arriba label {
  border-radius: 1rem;
}

.form_arriba {
  display: flex;
  width: 100%;
  position: relative;
  gap: 1%;
}

.form_arriba input {
  height: 50px !important;
  color: white;
  width: 100%;
  background-color: #40414556;
  border: 1px solid rgba(245, 245, 245, 0.199);
}

.form_arriba input:focus {
  outline: none;
}

.form_butons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 1%;
}

.form_butons button {
  background-color: #40414593 !important;
  border: 1px solid rgba(245, 245, 245, 0.158);
}

.form textarea {
  background-color: #40414560;
  color: whitesmoke;
  resize: none;
  height: 80px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.form textarea:focus {
  outline: none;
}

.form input {
  height: 38px;
  border-radius: 4px;
}

.form button {
  background-color: rgba(25, 160, 25, 0.651);
  color: whitesmoke;
}

.futer_redes {
  text-align: center;
}
